body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 223, 255);
    display: flex;
    justify-content: center;
}

main {
    background-color: rgb(203, 154, 249);
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 100vh;
    border-radius: 8%;
}


.brand {
    display: flex;
    color: white;
    justify-content: center;
}

.brand h1 {
    font-weight: bolder;
    margin-left: 20px;
    background-color: blueviolet;
    height: 40px;
    width: 200px;
    text-align: center;
    text-shadow: 3px 0px 0px black;
}

.calcSect {
    display: flex;
}

.display {
    width: 450px;
    height: 20vh;
    background-color: rgb(172, 172, 172);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 30px;

}

.numbersDiv {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    gap: 10px;
    margin-left: 50px;

}

.numbersDiv h1 {
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-style: solid;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.functionsDiv {
    margin-left: auto;
    margin-right: 50px;
    background-color: blueviolet;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.functionsDiv h1 {
    width: 100px;
    height: 50px;
    background-color: rgb(228, 207, 247);
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

#equalTo {
    background-color: red;
    color: white;
}